@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


.indBackImg {
    background-image: url(asset/industri-bg-img.png);
    background-color: black;
}

.achiBackImg {
    background-image: url(asset/achi-back-img.png);
    background-color: black;
}

.paynowImg {
    background-image: url(asset/payNow-img/paynow-Img.png);
    background-color: black;
}



.item {
    background-image: url("asset/Website-Picture-gallery/Picture1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    /* margin-left: auto; */
    /* height: 50vh; */
    /* 50% of the viewport height */
    /* width: 100%; */
    /* 50% of the viewport width */

    /* Centers the image horizontally */
}