@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


.indBackImg {
    background-image: url(asset/industri-bg-img.png);
    background-color: black;
}

.achiBackImg {
    background-image: url(asset/achi-back-img.png);
    background-color: black;
}

.paynowImg {
    background-image: url(asset/payNow-img/paynow-Img.png);
    background-color: black;
}



.item {
    background-image: url("asset/Website-Picture-gallery/Picture1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;

}

.aboutBgImg {
    background-image: url("asset/about/about-bg.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
}

.aboutBgImgTwo {
    background-image: url("asset/about/about-bg-2.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
}

.circular-container {
    position: relative;
    width: 50%;
    /* Adjust to your preference */
    height: 50%;
    /* Adjust to your preference */
}

.box {
    position: absolute;
    top: 30%;
    left: 20%;
    transform-origin: center;
}

.box:nth-child(1) {
    transform: translate(-50%, -150%);
}

.box:nth-child(2) {
    transform: rotate(60deg) translate(-50%, -150%);
}

.box:nth-child(3) {
    transform: rotate(120deg) translate(-50%, -150%);
}

.box:nth-child(4) {
    transform: rotate(180deg) translate(-50%, -150%);
}

.box:nth-child(5) {
    transform: rotate(240deg) translate(-50%, -150%);
}

.box:nth-child(6) {
    transform: rotate(300deg) translate(-50%, -150%);
}